<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <!-- MDBootstrap CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.css" rel="stylesheet">

    <style>
        h1{
            font-size: 330px;
            color: black;
        }
        h1 span{
            color: #007BFF;
        }
        .n{
            font-size: 50px;
            color: black;
        }
        .n span{
            color: #007BFF;
        }
        .btn{
            box-shadow: none !important;
            background-color: #007BFF;
            font-size: medium;
        }
        .btn-normal-case {
            text-transform: none !important;
        }
    </style>

</head>
<body>
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="text-center">
            <h1>4<span>0</span>4</h1>
            <p class="n">Boga Lama <span>Helin</span></p>
            <p class="text-muted">Bogga aad raadinayso ma ahan mid jira !!,iska sax url qaabka u qortay hadii kale .</p>
            <a href="/" class="btn btn-primary btn-normal-case">u laabo Bogga kowaad</a>
        </div>
    </div>

    <!-- MDBootstrap JS -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.js"></script>
</body>
</html>